:root{
    --limegreen: hsl(163, 72%, 41%);
    --brightred: hsl(356, 69%, 56%);
    --facebook:hsl(208, 92%, 53%);
    --twitter: hsl(203, 89%, 53%);
    --instagram-start: hsl(37, 97%, 70%);
    --instagram-end: hsl(329, 70%, 58%);
    --youtube:  hsl(348, 97%, 39%);
    --toggle-start: hsl(210, 78%, 56%);
    --toggle-end:hsl(146, 68%, 55%);
    --toggle:hsl(230, 22%, 74%);
    --dark-bg: hsl(230, 17%, 14%);
    --dark-bg-top: hsl(232, 19%, 15%);
    --dark-card-bg: hsl(228, 28%, 20%);
    --dark-text1: hsl(228, 34%, 66%);
    --dark-text2: hsl(0, 0%, 100%);
    --light-bg: hsl(0, 0%, 100%);
    --light-bg-top: hsl(225, 100%, 98%);
    --light-card-bg: hsl(227, 47%, 96%);
    --light-text1: hsl(228, 12%, 44%);
    --light-text2: hsl(230, 17%, 14%);
}

:root{
    --font-inter:'Inter',sans-serif;
}

html{
    font-size:100%;
    box-sizing: border-box;
}
 
*, *::before, *::after{
    box-sizing: inherit;
}

body{
    
  height: 100%;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: var(--font-inter);
  justify-content: center;
}

h1,h2,h3{
    margin-top:0;
    margin-bottom: 0;
}

a, a:visited, a:active{
  text-decoration: none;  
}


.column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;
    
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card1 {
    padding: 10px;
    text-align: center;
    background-color:var(--light-bg-top);
    border-top: solid 0.3em var(--facebook);
    border-radius: 5px;

  }

  .card2 {
    padding: 10px;
    text-align: center;
    background-color:var(--light-bg-top);
    border-top: solid 0.3em var(--twitter);
    border-radius: 5px;
  }

  .card3 {
    padding: 10px;
    text-align: center;
    background-color:var(--light-bg-top);
    border-top: solid 0.3em;
    border-image: linear-gradient(to right,var(--instagram-start), var(--instagram-end)); /* Use your Instagram color variables */
    border-radius: 5px;
    border-image-slice: 1;
  }

  .card4 {
    padding: 10px;
    text-align: center;
    background-color:var(--light-bg-top);
    border-top: solid 0.3em var(--youtube);
    border-radius: 5px;
  }
  .card {
    padding: 10px;
    text-align: center;
    background-color:var(--light-bg-top);
    border-radius: 5px;

  }
  div.card1:hover {
    background-color: var(--light-card-bg);
  }
  div.card2:hover {
    background-color: var(--light-card-bg);
  }
  div.card3:hover {
    background-color: var(--light-card-bg);
  }
  div.card4:hover {
    background-color: var(--light-card-bg);
  }
  div.card:hover {
    background-color: var(--light-card-bg);
  }

  p.up{
    color:var(--limegreen);
    font-size: xx-small; 
    display: inline-flex;
    align-items:center;
    
  }

  b.up{
    color:var(--limegreen);
    font-size: xx-small; 
    display: inline-flex;
    align-items:center;  
  }

  b.down{
    color: var(--brightred);
    font-size: xx-small;
    display: inline-flex;
    align-items:center;
  }

  p.down{
    color: var(--brightred);
    font-size: xx-small;
    display: inline-flex;
    align-items:center;
  }

  .follow{
    letter-spacing: 2px;
    font-size: x-small;
    color:var(--light-text1)
  }

  .name{
    color: var(--light-text1);
    font-size: x-small;
    display: inline-flex;
    align-items:center;
  }
  .name2{
    color: var(--light-text1);
    font-size:small;
  }

  .title1{
    align-items:center; 
    display: inline-table;
    
  }

  hed3 {
    font-size: xx-large;
  }

  h3.fc{
    color: var(--light-text1);
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 5vh;
}

.toggle{
  display: flex;
  justify-content: flex-end; /* Align toggle button to the right */
  align-items: center; /* Align toggle button vertically with text */
  text-align: left;
}

.toggle p {
  margin: 0; /* Remove default margin */
}

.checkbox {
  opacity: 0;
}


.checkbox-label {
  background-image: linear-gradient(to right,var(--toggle-start),var(--toggle-end));
  width: 53px;
  height: 23px;
  border-radius: 53px;
  position: relative;
  padding: 3px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox-label .ball {
  background-color: #fff;
  width: 19px;
  height: 19px;
  position: absolute;
  left: 3px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(25px);
}

body.dark .checkbox-label .ball {
  background-color: black;
  width: 19px;
  height: 19px;
  position: absolute;
  left: 3px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

body.dark  .card1 {
  padding: 10px;
  text-align: center;
  background-color:var(--dark-bg-top);
  border-top: solid 0.3em var(--facebook);
  border-radius: 5px;

}

body.dark   .card2 {
    padding: 10px;
    text-align: center;
    background-color:var(--dark-bg-top);
    border-top: solid 0.3em var(--twitter);
    border-radius: 5px;
  }

body.dark   .card3 {
  padding: 10px;
  text-align: center;
  background-color:var(--dark-bg-top);
  border-top: solid 0.3em;
  border-image: linear-gradient(to right,var(--instagram-start), var(--instagram-end)); /* Use your Instagram color variables */
  border-radius: 5px;
  border-image-slice: 1;
}

body.dark  .card4 {
  padding: 10px;
  text-align: center;
  background-color:var(--dark-bg-top);
  border-top: solid 0.3em var(--youtube);
  border-radius: 5px;
}

body.dark div.card1:hover {
  background-color: var(--dark-card-bg);
}
body.dark div.card2:hover {
  background-color: var(--dark-card-bg);
}
body.dark div.card3:hover {
  background-color: var(--dark-card-bg);
}
body.dark div.card4:hover {
  background-color: var(--dark-card-bg);
}

body.dark  hed3{
  font-size: xx-large;
  color: var(--dark-text2);
}

body.dark #letter{
  color:var(--dark-text2);
}

body.dark {background-color: black;}

body.dark .card{
background-color: var(--dark-bg-top);
color:var(--dark-text1);
}
body.dark div.card:hover {
  background-color: var(--dark-card-bg);
}
body.dark .title1{
  color: var(--dark-text2);
}
body.dark #num{
  font-size: x-large;
  color: var(--dark-text2);
}
.left1 {
 text-align:left;
}

.right1{
  text-align: right;
  font-size: x-small;
  align-items:center;
}

.line{
  display: flex;
  justify-content: space-between;
  align-items: center;

}


#num{
  font-size: x-large;
}

#sameline{
  justify-content: space-between;
  display: flex; /* Ensures the elements are spaced apart */
  align-items: center; /* Aligns the elements vertically */
}

hed{
  font-size: x-large;
}

.let{
  font-size: small;
  color: var(--light-text1);
}

body.dark .attribution{ color: var(--dark-text1); }

#letter{
  font-size: small;
}